
@import '../variables.scss';
@import '../mixins.scss';

.container {
  font-size: 1.5rem;
  text-align: center;

  p {
    margin: 4rem 0 4rem;
  }
}


.authBtn {
  display: block;
  padding: 1.3rem;
  text-align: center;

  margin: 0 auto 2rem;
  border: 1px solid white;
  border-radius: 2px;

  color: white;
  transition: background .3s ease;

  max-width: 300px;

  &:hover {
    text-decoration: none;
    background: #3A3A3A;
  }
}
