/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Lato', 'HelveticaNeue-Light', sans-serif;
$font-code-base:        'CodePro', 'Times New Roman', serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     500px;
$content-background:    rgba(0,0,0, 0.69);
$content-hl-background: rgba(0,0,0, 0.72);
$content-padding:       4%;
$content-padding-rem:   4rem;


/*
 * Media queries breakpoints
 * ========================================================================== */
@custom-media --screen-xs (max-width: 480px);
@custom-media --screen-md (max-width: 992px);
@custom-media --screen-lg (min-width: 1200px);
